In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [3]:
df = pd.read_csv('data/stud.csv')

In [4]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [5]:
X = df.drop(columns=['math_score'],axis=1)
X.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,74
1,female,group C,some college,standard,completed,90,88
2,female,group B,master's degree,standard,none,95,93
3,male,group A,associate's degree,free/reduced,none,57,44
4,male,group C,some college,standard,none,78,75

In [6]:
print("Categories in 'gender' variable:     ",end=" " )
print(df['gender'].unique())

print("Categories in 'race_ethnicity' variable:  ",end=" ")
print(df['race_ethnicity'].unique())

print("Categories in'parental level of education' variable:",end=" " )
print(df['parental_level_of_education'].unique())

print("Categories in 'lunch' variable:     ",end=" " )
print(df['lunch'].unique())

print("Categories in 'test preparation course' variable:     ",end=" " )
print(df['test_preparation_course'].unique())

Categories in 'gender' variable:      ['female' 'male']
Categories in 'race_ethnicity' variable:   ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in'parental level of education' variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in 'lunch' variable:      ['standard' 'free/reduced']
Categories in 'test preparation course' variable:      ['none' 'completed']

In [7]:
y = df['math_score']

In [8]:
y

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math_score, Length: 1000, dtype: int64

In [9]:
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

In [10]:
num_features

Index(['reading_score', 'writing_score'], dtype='object')

In [11]:
cat_features

Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')

In [23]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)
preprocessor

ColumnTransformer(transformers=[('OneHotEncoder', OneHotEncoder(),
                                 Index(['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch',
       'test_preparation_course'],
      dtype='object')),
                                ('StandardScaler', StandardScaler(),
                                 Index(['reading_score', 'writing_score'], dtype='object'))])

In [13]:
X = preprocessor.fit_transform(X)

In [14]:
X.shape

(1000, 19)

In [15]:
X

array([[ 1.        ,  0.        ,  0.        , ...,  1.        ,
         0.19399858,  0.39149181],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         1.42747598,  1.31326868],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.77010859,  1.64247471],
       ...,
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.12547206, -0.20107904],
       [ 1.        ,  0.        ,  0.        , ...,  0.        ,
         0.60515772,  0.58901542],
       [ 1.        ,  0.        ,  0.        , ...,  1.        ,
         1.15336989,  1.18158627]])

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
print(X_train.shape, X_test.shape)
print(y_train.shape,y_test.shape)

(800, 19) (200, 19)
(800,) (200,)

In [17]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [18]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "K-Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree": DecisionTreeRegressor(),
    "Random Forest Regressor": RandomForestRegressor(),
    "XGBRegressor": XGBRegressor(), 
    "CatBoosting Regressor": CatBoostRegressor(verbose=False),
    "AdaBoost Regressor": AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.8f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.8f}".format(model_train_mae))
    print("- R2 Score: {:.8f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.8f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.8f}".format(model_test_mae))
    print("- R2 Score: {:.8f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Linear Regression
Model performance for Training set
- Root Mean Squared Error: 5.32305085
- Mean Absolute Error: 4.26671185
- R2 Score: 0.87431720
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.39399387
- Mean Absolute Error: 4.21476314
- R2 Score: 0.88043330
===================================


Lasso
Model performance for Training set
- Root Mean Squared Error: 6.59381559
- Mean Absolute Error: 5.20630266
- R2 Score: 0.80714620
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.51969454
- Mean Absolute Error: 5.15788181
- R2 Score: 0.82531973
===================================


Ridge
Model performance for Training set
- Root Mean Squared Error: 5.32332492
- Mean Absolute Error: 4.26498782
- R2 Score: 0.87430426
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 5.39038702
- Mean Absolute Error: 4.21110069
- R2 Score: 0.88059315
===================================


K-Neighbors Regressor
Model performance for Training set
- Root Mean Squared Error: 5.70922937
- Mean Absolute Error: 4.51800000
- R2 Score: 0.85541955
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.25162051
- Mean Absolute Error: 5.61600000
- R2 Score: 0.78389765
===================================

Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.27950850
- Mean Absolute Error: 0.01875000
- R2 Score: 0.99965347
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 7.76756075
- Mean Absolute Error: 6.14500000
- R2 Score: 0.75205311
===================================


Random Forest Regressor
Model performance for Training set
- Root Mean Squared Error: 2.29686768
- Mean Absolute Error: 1.82119375
- R2 Score: 0.97659942
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.05660196
- Mean Absolute Error: 4.69480000
- R2 Score: 0.84925344
===================================


XGBRegressor
Model performance for Training set
- Root Mean Squared Error: 1.00728169
- Mean Absolute Error: 0.68746660
- R2 Score: 0.99549954
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.47330737
- Mean Absolute Error: 5.05773060
- R2 Score: 0.82779657
===================================


CatBoosting Regressor
Model performance for Training set
- Root Mean Squared Error: 3.04266420
- Mean Absolute Error: 2.40539393
- R2 Score: 0.95893587
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.00863196
- Mean Absolute Error: 4.61253171
- R2 Score: 0.85163189
===================================


AdaBoost Regressor
Model performance for Training set
- Root Mean Squared Error: 5.86822709
- Mean Absolute Error: 4.78559599
- R2 Score: 0.84725450
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 6.20333791
- Mean Absolute Error: 4.78503355
- R2 Score: 0.84186055
===================================

In [19]:
pd.DataFrame(list(zip(model_list, r2_list)), columns=['Model Name', 'R2_Score']).sort_values(by=["R2_Score"],ascending=False)

                Model Name  R2_Score
2                    Ridge  0.880593
0        Linear Regression  0.880433
7    CatBoosting Regressor  0.851632
5  Random Forest Regressor  0.849253
8       AdaBoost Regressor  0.841861
6             XGBRegressor  0.827797
1                    Lasso  0.825320
3    K-Neighbors Regressor  0.783898
4            Decision Tree  0.752053

In [20]:
lin_model = LinearRegression(fit_intercept=True)
lin_model = lin_model.fit(X_train, y_train)
y_pred = lin_model.predict(X_test)
score = r2_score(y_test, y_pred)*100
print(" Accuracy of the model is %.2f" %score)

 Accuracy of the model is 88.04

In [21]:
pred_df=pd.DataFrame({'Actual Value':y_test,'Predicted Value':y_pred,'Difference':y_test-y_pred})
pred_df

     Actual Value  Predicted Value  Difference
521            91        76.387970   14.612030
737            53        58.885970   -5.885970
740            80        76.990265    3.009735
660            74        76.851804   -2.851804
411            84        87.627378   -3.627378
..            ...              ...         ...
408            52        43.409149    8.590851
332            62        62.152214   -0.152214
208            74        67.888395    6.111605
613            65        67.022287   -2.022287
78             61        62.345132   -1.345132

[200 rows x 3 columns]